<header class="header">
  <div class="header__logo">
    <a href="/home"><img src="./assets/modules/benefits/logo.png" alt="logo"></a>
  </div>
  <nav class="header__nav">
    <a href="" routerLink="/prices">Precios</a>
    <a href="" routerLink="/contact-us">Contáctanos</a>
    <button nz-button [nzSize]="size" nzType="primary" routerLink="/dashboard">Iniciar Sesion</button>
  </nav>
</header>

<router-outlet></router-outlet>

<footer class="footer">
  <div class="footer__logo">
    <img src="./assets/modules/benefits/coca.png" alt="logo">
  </div>
  <div class="footer__text">
    <a href=""><span nz-icon nzType="copyright-circle" nzTheme="outline"></span>2024 RGB</a>
    <a href="" routerLink="/prices">Precios</a>
    <a href="" routerLink="/contactus">Contactanos</a>
    <a href="" routerLink="/dashboard">log in</a>
  </div>
</footer>
