<div class="main-container">
  <div class="title">
    <h1>GRB Pricing</h1>
    <p>Planes y precios de Gestor de referencias bibliográficas</p>
  </div>

  <div class="collection">
    <div class="collection__card">
      <h3>Basic</h3>
      <h1>{{ 9 | currency : 'PEN' }} <span>/Month</span></h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut </p>
      <ul>
        <li><span nz-icon nzType="check-square" nzTheme="outline"></span> All limited links</li>
        <li><span nz-icon nzType="check-square" nzTheme="outline"></span> Own Analytics Platform</li>
        <li><span nz-icon nzType="check-square" nzTheme="outline"></span> Chat Support</li>
        <li><span nz-icon nzType="check-square" nzTheme="outline"></span> Optimize Hashtags</li>
        <li><span nz-icon nzType="check-square" nzTheme="outline"></span> Unlimited Users</li>
      </ul>
      <a>Elegir Plan</a>
    </div>

    <div class="collection__card collection__card--active">
      <h3>Medium</h3>
      <h1>{{ 19 | currency: 'PEN' }} <span>/Month</span></h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut </p>
      <ul>
        <li><span nz-icon nzType="check-square" nzTheme="outline"></span> All limited links</li>
        <li><span nz-icon nzType="check-square" nzTheme="outline"></span> Own Analytics Platform</li>
        <li><span nz-icon nzType="check-square" nzTheme="outline"></span> Chat Support</li>
        <li><span nz-icon nzType="check-square" nzTheme="outline"></span> Optimize Hashtags</li>
        <li><span nz-icon nzType="check-square" nzTheme="outline"></span> Unlimited Users</li>
      </ul>
      <a>Elegir Plan</a>
    </div>

    <div class="collection__card">
      <h3>Pro</h3>
      <h1>{{ 29 | currency:'PEN' }} <span>/Month</span></h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut </p>
      <ul>
        <li><span nz-icon nzType="check-square" nzTheme="outline"></span> All limited links</li>
        <li><span nz-icon nzType="check-square" nzTheme="outline"></span> Own Analytics Platform</li>
        <li><span nz-icon nzType="check-square" nzTheme="outline"></span> Chat Support</li>
        <li><span nz-icon nzType="check-square" nzTheme="outline"></span> Optimize Hashtags</li>
        <li><span nz-icon nzType="check-square" nzTheme="outline"></span> Unlimited Users</li>
      </ul>
      <a>Elegir Plan</a>
    </div>
  </div>
</div>
