:host {

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    width: 100%;
    height: 65px;
    gap: 60px;

    [nz-icon] {
      margin-right: 3px;
      font-size: 12px;
    }

    &__logo {
      width: 50px;

      & > img {
        width: 100%;
      }
    }

    &__text {
      display: flex;
      align-items: center;
      gap: 20px;

      & > a, p {
        color: #999999;
        margin: 0;
      }
    }
  }

  //mobile
  @media (max-width: 768px) {

    footer {
      background-color: #242424;
      width: 100vw;
      height: 214px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .footer {
        margin: 0 auto;
        display: flex;
        width: 600px;
        padding: 32px 24px;
        padding-left: 70px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 214px;

        &__logo {
          display: flex;
          width: 100%;
          height: 20px;

          & > img {
            width: 40px;
            height: 20px;
          }
        }

        &__text {
          display: grid;
          align-items: start;
          width: 100%;
          grid-template-columns: repeat(2,1fr);
        }
      }
    }
  }

  @media (max-width: 600px){
    footer{
      .footer{
        width: 100%;
        min-width: 375px;
      }
    }
  }
}
