.wrapper {
  width: 100%;

  [nz-menu] {
    background-color: #acb7d8;
    font-size: 18px;
    border: 0;
    
    > li {
      border-radius: 5px;
    }

    > li:hover {
        background-color: #96a0c4;
        color: rgb(238, 238, 238);
    }

  
  }
}
