<body>
  <article class="opening">
    <div class="slogan">
      <div class="slogan__left">
        <div class="slogan__left--title">
          <h2>Organiza, cita y gestiona tus referencias fácilmente</h2>
        </div>
        <div class="slogan__left--buttons">
          <button nz-button nzType="primary">Comprar GRB</button>
          <button nz-button nzType="default">Probar Gratis GRB</button>
        </div>
      </div>
      <div class="slogan__right">
        <div class="slogan__right--logo">
          <img src="./assets/modules/benefits/logo.png" alt="screen main">
        </div>
      </div>
    </div>
  </article>

  <article class="description">
    <section class="description__grb">
      <h2>¡Conoce GRB!</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    </section>
    <section class="description__features">
      <h2>Características principales</h2>
      <div class="description__features--feature1">
        <div class="text">
          <h3>Caract. 1</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
            est laborum</p>
        </div>
        <div class="screen">
          <img src="./assets/modules/benefits/coca.png" alt="screen feature">
        </div>
      </div>
      <div class="description__features--feature2">
        <div class="screen">
          <img src="./assets/modules/benefits/coca.png" alt="screen feature">
        </div>
        <div class="text">
          <h3>Caract. 2</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
            est laborum</p>
        </div>
      </div>
      <div class="description__features--feature3">
        <div class="text">
          <h3>Caract.3</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
            est laborum</p>
        </div>
        <div class="screen">
          <img src="./assets/modules/benefits/coca.png" alt="screen feature">
        </div>
      </div>
    </section>
  </article>
</body>






