:host{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .header{
    background-color: #242424;
    width: 100%;
    padding: 20px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__logo{
      width: 125px;
      margin-left: 20px;

      > img {
        width: 100%;
      }
    }

    &__nav{
      display: flex;
      width: 400px;
      justify-content: space-around;
      align-items: center;
      > a {
        color: white;
      }

      [nz-button] {
        border-radius: 10px;
        box-shadow: 1px -1px 38px -1px rgba(0,0,0,0.61);
      }
    }
  }

  .slogan{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #DCE0FF;
    height: 300px;
    padding: 60px 80px;
    gap: 5%;


    &__left{
      width: 55%;

      &--title h2{
          color: #00117d;
          font-weight: bold;
          font-size: 45px;
      }

      &--buttons{
        display: flex;
        gap: 15px;

        [nz-button] {
          width: 250px;
          height: 40px;
          margin-right: 8px;
          margin-bottom: 12px;
          border-radius: 10px;
          box-shadow: 0.5px 0.5px 5px 1px rgba(0,0,0,0.31);
        }
      }
    }

    &__right{
      width: 40%;

      img {
        width: 100%;
      }
    }
  }

  .description{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 120px;

    &__grb{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      margin: 50px 0;

      h2{
        color: #00117d;
        font-weight: bold;
        font-size: 30px;
      }
    }

    &__features{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 60px;

      h2{
        color: #00117d;
        font-weight: bold;
        font-size: 30px;
        margin: 0;
      }

      &--f1{
        display: flex;
        width: 70%;
        justify-content: center;
        align-items: center;
        gap: 40px;

        .text{
          width: 50%;

          > h3{
            color: #00117d;
            font-weight: bold;
            font-size: 20px;
            text-align: center;
          }
        }

        .screen{
          width: 50%;

          > img{
            width: 100%;
          }
        }
      }

      &--f2{
        display: flex;
        width: 70%;
        justify-content: center;
        align-items: center;
        gap: 40px;

        .text{
          width: 50%;

          > h3{
            color: #00117d;
            font-weight: bold;
            font-size: 20px;
            text-align: center;
          }
        }

        .screen{
          width: 50%;

          > img{
            width: 100%;
          }
        }
      }

      &--f3{
        display: flex;
        width: 70%;
        justify-content: center;
        align-items: center;
        gap: 40px;

        .text{
          width: 50%;

          > h3{
            color: #00117d;
            font-weight: bold;
            font-size: 20px;
            text-align: center;
          }
        }

        .screen{
          width: 50%;

          > img{
            width: 100%;
          }
        }
      }
    }
  }

  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    width: 100%;
    height: 65px;
    gap: 60px;

    [nz-icon] {
      margin-right: 3px;
      font-size: 12px;
    }

    &__logo{
      width: 50px;
      > img{
        width: 100%;
      }
    }

    &__text{
      display: flex;
      gap: 20px;

      > a{
        color: #999999;
      }
    }
  }
}


