:host {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: gray;
  font-family: 'Noto Sans', sans-serif;

  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border: 0.5px solid gray;
    border-radius: 25px;
    width: 380px;
    padding: 22px;
    background-color: white;
    box-shadow: -6px 9px 21px -6px rgba(0,0,0,0.63);
    -webkit-box-shadow: -6px 9px 21px -6px rgba(0,0,0,0.63);
    -moz-box-shadow: -6px 9px 21px -6px rgba(0,0,0,0.63);

    &__title {
      font-weight: 900;
      font-size: 35px;
    }

    &__form {
      max-width: 380px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 15px;

      &--email, &--password {
        .ant-input-affix-wrapper {
          border-radius: 12px;
        }
      }

      &--password {
        text-align: end;

        a {
          font-weight: 600;
          font-size: 12px;
          color: darkblue;
          text-decoration: underline;

          &:hover {
            cursor: pointer;
          }
        }
      }

      &--button {
        color: #fff;
        border-color: black;
        background: black;
        margin-top: 15px;
      }

      &--register {
        text-align: center;
        color: #999999;
        font-size: 12px;

        span > a {
          font-weight: 600;
          color: darkblue;
          text-decoration: underline;
        }
      }

      &--alternatives {
        p {
          text-align: center;
          color: #999999;
          font-size: 12px;
        }

        .options {
          display: flex;
          justify-content: center;
          gap: 15px;

          & > * {
            font-size: 25px;
          }
        }
      }
    }
  }
}
