<section class="login">
  <div class="login__title">
    <div>
      <span nz-icon nzType="ng-zorro:grb"></span>
    </div>
    <h4>Gestor de Referencias Bibliográficas</h4>
  </div>

  <form class="login__form" [formGroup]="loginFormGroup" (ngSubmit)="signInWithPassword()">
    <div class="login__form--email">
      <nz-form-item>
        <nz-form-control nzHasFeedback [nzErrorTip]="emailError">
          <nz-input-group [nzPrefix]="prefixEmail" nzSize="large">
            <input formControlName="email" type="email" nz-input placeholder="Correo electrónico" nzSize="large"/>
          </nz-input-group>
          <ng-template #prefixEmail>
            <span nz-icon nzType="mail" nzTheme="twotone" nzTwotoneColor="#00117d"></span>
          </ng-template>
          <ng-template #emailError let-control>
            <ng-container *ngIf="control.hasError('email')">Correo electrónico no válido</ng-container>
            <ng-container *ngIf="control.hasError('required')">Correo electrónico es obligatorio</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="login__form--password">
      <nz-form-item>
        <nz-form-control nzHasFeedback [nzErrorTip]="passwordError">
          <nz-input-group [nzPrefix]="prefixPassword" nzSize="large">
            <input
              formControlName="password"
              type="password"
              nz-input
              placeholder="Contraseña"
              nzSize="large"
              autocomplete=""
            />
          </nz-input-group>
          <ng-template #prefixPassword>
            <span nz-icon nzType="lock" nzTheme="twotone" nzTwotoneColor="#00117d"></span>
          </ng-template>
          <ng-template #passwordError let-control>
            <ng-container *ngIf="control.hasError('required')">Contraseña obligatoria</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="login__form--forgot-password">
      <a>¿Olvidaste tu contraseña?</a>
    </div>

    <button
      class="login__form--button"
      nz-button
      nzType="primary"
      nzSize="large"
      type="submit"
      [disabled]="loginFormGroup.invalid">
      Iniciar sesión
    </button>

    <p class="login__form--register">
      ¿No tienes cuenta?
      <span>
        <a>Registrate</a>
      </span>
    </p>

    <div class="login__form--alternatives">
      <p>O inicia sesión con:</p>
      <div class="options">
        <span nz-icon nzType="ng-zorro:facebook"></span>
        <span nz-icon nzType="ng-zorro:google"></span>
        <span nz-icon nzType="ng-zorro:linkedin"></span>
        <span nz-icon nzType="ng-zorro:github"></span>
        <span nz-icon nzType="ng-zorro:twitter"></span>
      </div>
    </div>
  </form>
</section>

