<section class="login">
  <div class="login__title">
    <div>
      <span nz-icon nzType="ng-zorro:grb"></span>
    </div>
    <h4>Gestor de Referencias Bibliográficas</h4>
  </div>

  <form class="login__form">
    <div class="login__form--email">
      <nz-input-group [nzPrefix]="prefixTemplateUser" nzSize="large">
        <input type="email" nz-input placeholder="Correo electrónico" nzSize="large"/>
      </nz-input-group>
      <ng-template #prefixTemplateUser>
        <span nz-icon nzType="mail" nzTheme="twotone" nzTwotoneColor="#00117d"></span>
      </ng-template>
    </div>

    <div class="login__form--password">
      <nz-input-group [nzPrefix]="prefixTemplatePassword" nzSize="large">
        <input type="password" nz-input placeholder="Contraseña" nzSize="large" autocomplete=""/>
      </nz-input-group>
      <ng-template #prefixTemplatePassword>
        <span nz-icon nzType="lock" nzTheme="twotone" nzTwotoneColor="#00117d"></span>
      </ng-template>
      <a class="forgot-password">¿Olvidaste tu contraseña?</a>
    </div>

    <button class="login__form--button" nz-button nzType="primary" nzSize="large">
      Iniciar sesión
    </button>

    <p class="login__form--register">
      ¿No tienes cuenta?
      <span>
        <a>Registrate</a>
      </span>
    </p>

    <div class="login__form--alternatives">
      <p>O inicia sesión con:</p>
      <div class="options">
        <span nz-icon nzType="ng-zorro:facebook"></span>
        <span nz-icon nzType="ng-zorro:google"></span>
        <span nz-icon nzType="ng-zorro:linkedin"></span>
        <span nz-icon nzType="ng-zorro:github"></span>
        <span nz-icon nzType="ng-zorro:twitter"></span>
      </div>
    </div>
  </form>
</section>

