:host {
  background-color: #acb7d8;
  padding: 0 8px;
  box-shadow: 0.5px 0px 15px 5px rgba(0, 0, 0, 0.2);

  .side {
    width: 220px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    &__logo {
      border-radius: 5px;
      width: 100%;
      height: 70px;
      padding: 10px 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      border-bottom: #c8cde0 solid;

      & > span {
        font-size: 50px;
      }

      & > h3 {
        font-size: 40px;
        color: #00117d;
        font-weight: bold;
        margin: 0;
      }
    }

    .references {
      border-radius: 5px;
      width: 100%;
      height: 630px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 15px;

      &__button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;

        & > button {
          background-color: #96a0c4;
          border: 0;
          width: 100%;
          border-radius: 10px;
          transition: box-shadow 0.3s ease-out;

          &:hover {
            box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.3);
          }
        }
      }

      &__menu {
        width: 100%;
      }
    }

    &__user {
      width: 100%;
      height: 50px;
      position: absolute;
      bottom: 15px;

      > button {
        border: 0;
        background-color: #95a0c2;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 15px;
        gap: 20px;
        cursor: pointer;

        > p {
          margin: 0;
          font-weight: bold;
        }

        > span {
          margin-right: 6px;
          font-size: 22px;
          color: #c8cde0;
        }
      }

      .list {
        position: absolute;
        bottom: 50px;
        border-radius: 0;
        border: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        z-index: 11;
        background-color: #95a0c2;

        &__item {
          width: 220px;
          height: 40px;
          padding: 5px;
          padding-inline: 20px;
          margin: 0;
          display: flex;
          align-items: center;
          font-size: 14px;
          color: white;
          opacity: 0.9;
          font-weight: semibold;

          & span {
            font-size: 16px;
          }

          &:hover {
            background-color: #7e8cb3;
          }
        }
        
        .ant-menu-item-selected {
          background-color: #6c7a9e;
        }
      }

      
      
    }
  }
}
