.main-container {
  background-color: #242424;

  .header {
    width: 100%;
    min-width: 320px;
    max-width: 1200px;
    min-height: 64px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px 64px;
    align-items: center;

    &__logo {
      width: 106px;
      height: 35px;

      a {
        width: 100%;
        height: 100%;
      }

      img {
        height: 35px;
      }
    }

    &__nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 500px;

      > a {
        color: white;
      }

      [nz-button] {
        border-radius: 10px;
        box-shadow: 1px -1px 38px -1px rgba(0, 0, 0, 0.61);
      }
    }

    &__nav-drop {
      display: none;
    }
  }

  .menu {
    display: none;
  }

  //tablet
  @media (max-width: 1024px) {

    .header {
      padding: 0;
      min-width: 375px;
      width: 100%;
      position: fixed;
      top: 0;
      background-color: #242424;
      z-index: 1000;

      &__logo {
        width: auto;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 30px;

        a {
          width: 106px;
          height: 35px;
        }

        img {
          height: 35px;
        }
      }

      &__nav {
        display: none;
      }

      &__nav-drop {
        display: flex;
        background-color: #242424;
        position: fixed;
        top: 64px;
        flex-direction: column;
        width: 100vw;
        height: calc(100vh - 64px);
        align-items: start;
        padding: 10px 30px;
        justify-content: start;
        gap: 15px;

        > a {
          padding: 10px 10px;
          color: white;
        }

        &--button {
          position: absolute;
          bottom: 0;
          left: 0;
          display: flex;
          justify-content: center;
          width: 100%;
          background-color: #191919;
          padding: 15px;

          [nz-button] {
            width: 350px;
            border-radius: 7px;
          }
        }
      }

      .menu {
        display: flex;
        color: white;
        width: 64px;
        height: 64px;
        justify-content: center;
        align-items: center;
        margin-right: 30px;

        > span {
          font-size: 30px;
          cursor: pointer;
        }
      }
    }
  }


  //laptop L
  @media (min-width: 1280px) {
    .header {
      width: 1280px;
      padding: 0 64px;
    }
  }
}
